@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

.page-container {
    padding: 20px;
}

.contact-title {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

.contact-form {
    width: 550px;
    margin: auto;
    background-color: rgb(245, 245, 245, 0.8);
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid rgba(120, 120, 120, 0.2);
}

.name-email {
    columns: 2;
    justify-content: center;
}

.input input {
    padding-left: 10px;
    border: none;
    background-color: white;
    border-radius: 6px;
}

.input input:focus {
    outline: none;
    border: 1.5px solid #9C61A8;
    box-shadow: 0 0 10px #DEC8E3;
}

.input textarea {
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 6px;
}

.input textarea:focus {
    outline: none;
    border: 1.5px solid #9C61A8;
    box-shadow: 0 0 10px #DEC8E3;
}

.form-field {
    width: 100%;
}

#message {
    width: 100%
}

.input {
    padding: 10px 0px;
}

#submit-btn {
    border: none;
    background-color: #D8CEDA;
    font-weight: 800;
    font-size: 20px;
    border-radius: 6px;
    color: #272727;
}

#submit-btn:hover {
    background-color: #948597;
    color: white;
}

.error-message {
    color: red;
    text-align: center;
}

.success-message {
    color: green;
    text-align: center;
} 

@media screen and (max-width: 768px) {
    .contact-form {
      width: 80%;
    }

  }
  