.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #272727;
}

.header-name {
    font-size: 40px;
    color: white;
}

@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }
}