.header-container {
    display: flex;
    justify-content: space-between;
}

.phoenix-logo {
    width: 50px;
    margin: 0px 5px 5px 0px;
}

.header-name {
    font-size: 40px;
}

.nav {
    display: flex;
    justify-content: center;
    border: none;
}

.nav-item {
    background-color: white;
    margin: 5px;
}

.nav-item:hover {
    border: 1px solid white;
}

#nav-text {
    color: black;
    font-size: 20px;
}
