.nav {
    display: flex;
    justify-content: center;
    border: none !important;;
}

.nav-item {
    background-color: #272727;
    margin: 5px;
}

#nav-text {
    color: white;
    font-size: 20px;
}

#nav-text:visited {
    background-color: #272727;
}

@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
    }
}