@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

.page-container {
    background-image: linear-gradient(175deg, #D8CEDA 40%, #f7f6f3 40%);
}

.about-background {
    background-image: url(../components/images/frank-mckenna-eXHeq48Z-Q4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.about-box {
    display: flex;
    font-family: "arial";
    font-size: 24px;
    width: 80%;
    margin: auto;
    align-items: center;
}


#profile-pic {
    width: 30%;
    height:fit-content;
    padding-left: 10px;
}

.page-title {
    padding: 10px 80px;
    font-size: 40px;
}

.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app-box {
    padding: 15px;
    background-color: #272727;
    margin: 10px;
    border-radius: 15px;
}

.app-text {
    padding: 15px 10px 0px 10px;
    text-align: center;
    color: whitesmoke
}

.app-title {
    padding-bottom: 5px;
    font-weight: 800;
}

.app-links a {
    text-decoration: none;
    padding: 5px 7px;
    color: #272727;
    background-color: #D8CEDA;
    margin: 0px 5px;
}

.app-links a:hover {
    color: whitesmoke;
    background-color: #948597;
}

.app-pic {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

#resume-icon {
    font-size: 25px;
    padding-left: 10px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
}

#resume-icon:hover {
    color: #f47ec9;
}

#resume-thank-you {
    color: white;
    padding: 10px 10px 0px 10px;
    font-family: 'Source Code Pro', monospace;
}

.terminal {
    display: block;
    justify-content: center;
    padding: 40px 10px 30px 10px;
}

.terminal-bar {
    background-color: #8c8c8c;
    width: 60%;
    padding: 7px 10px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}

.terminal-screen {
    background-color: #26242f;
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Source Code Pro', monospace;
    padding: 50px;
}

#terminal-red {
    color: #ff5f57;
    padding: 0px 4px;
}

#terminal-yellow {
    color: #febc2e;
    padding: 0px 4px;
}

#terminal-green {
    color: #2ac840;
    padding: 0px 4px;
}

.text-left {
    color: #f47ec9;
    font-size: 21px;
    font-family: 'Source Code Pro', monospace;
}

.text-right {
    color: white;
    font-size: 21px;
    font-family: 'Source Code Pro', monospace;
    padding-left: 5px;
}

.text-ul {
    padding: 0;
    columns: 2;
}

.text-list {
    color: white;
    font-size: 21px;
    font-family: 'Source Code Pro', monospace;
    list-style-type: none;
    padding-left: 0px;
}

@media screen and (max-width: 768px) {
    .about-box {
      font-size: 16px;
      flex-direction: column;
      padding: 20px 10px;
    }
    #profile-pic {
        width: 60%;
    }

}